* {
    margin: 0; 
    padding: 0;
    
  }

.a-body {
  font-family: "Comic Sans MS", "Comic Sans", cursive; 
}
  
.a-main-container {
  
    height: 100%;
    width: 850px;
    margin: 0 auto;
    background-image: url(../images/paper.jpeg);
    border: 6px double black;
    padding-top: 3em;
    margin-top: 4em;
}

.green {
  color: green;
}

.red {
  color: red;
}

.board {
    height: 420px;
    width: 420px;
    margin: 0 auto;
}

.cell {
    width: 140px;
    height: 140px;
    border: 2px black solid;
    box-sizing: border-box;
    cursor:pointer;
    float:left;
    line-height: 140px;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

.control {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top:40px;
}

.level {
    margin: 0 15px;
    cursor: pointer;
}

.not-selected {
    opacity: 0.5;
}

.not-selected:hover {
    opacity:1;
}

.start {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    color: blue;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    opacity:1;
}

.start:hover {
    opacity:1;
}

.ingame {
    display:none;
    color:lightskyblue;
}

.ingame > p {
    margin:0px;
}

.robot {
    opacity:0.5;
}


.a-root {

    background-image: url(../images/fire.gif);
    width: 100%;
    height: 100%;
}

.a-title {

    max-width: 14em;
    display: inline-block;
    position: absolute;
    left: 10%;
    margin: 0 auto;
    text-align: center;
}

.a-welcome {

    font-size: 1.5em;
    background-color: blue;
    color: magenta;
    text-align: center;
    display: block;
    text-transform: uppercase;
}

.globe img {

    display: inline-block;
    position: absolute;
    max-width: 100px;
}

.banner-ad {
    max-width: 100%;
}




